body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #333;
    transition: 0.3s;
}

/* DARK MODE */
.dark {
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}

.dark header {
    background: #000;
}

/* BUTTON */
.toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* HEADER */
header {
    background: linear-gradient(to right, #1e3a8a, #2563eb);
    color: white;
    text-align: center;
    padding: 40px;
    animation: fadeIn 1s ease-in;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: #1e3a8a;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ddd;
}

/* SECTIONS */
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    animation: fadeUp 1s ease;
}

/* GALLERY */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #1e3a8a;
    color: white;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}